<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Change your password</title>
</head>
<body>
    <form name="myForm" action="#" th:action="@{/update}" th:object="${participant}" method="post"
          onsubmit="return passwordValidation()">
        <p>Email: <input type="email" th:field="*{email}"/></p>
        <p>Password: <input id="password" type="password"  required="required"/></p>
        <p>New password: <input name="newPassword" type="password" th:field="*{password}" required="required"/></p>
        <input type="hidden" th:value="${participant.password}" name="oldPassword"/>
        <input type="hidden" th:field="*{firstName}" />
        <input type="hidden" th:field="*{lastName}"/>
        <input type="hidden" th:field="*{dateOfBirth}" />
        <input type="hidden" th:field="*{nationality}"/>
        <input type="hidden" th:field="*{address}" />
        <input type="hidden" th:field="*{nationalId}"/>
        <p><input type="submit" value="Change password"
                  onclick='document.getElementById("oldPassword").innerHTML = "Hello JavaScript!"'/></p>
    </form>
    <form action="#" th:action="@{/userInfo}" th:object="${participant}" method="post">
        <p><input type="hidden" th:field="*{email}"/></p>
        <p><input type="hidden" th:field="*{password}"/></p>
        <p><input type="submit" value="Cancel"/></p>
    </form>

    <script>
        function passwordValidation() {
            var oldPassword = document.forms["myForm"]["oldPassword"].value;
            var passwordEntered = document.getElementById("password").value;
            if(oldPassword != passwordEntered){
                alert("Password incorrect");
                return false;
            }
        }
    </script>
</body>
</html>